---js
const eleventyNavigation = {
	key: "Tags",
	order: 3
};
---

<h1>Tags</h1>

<ul>
  {% for tag in collections.filterTagListCount %}
  <li>
    <a href="/tags/{{ tag.title | slug }}/">{{ tag.title }}</a> ({{ tag.count
    }})
  </li>
  {% endfor %}
</ul>
