<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="icon" href="/favicon.ico" sizes="any"/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <meta name="theme-color" content="#4a4a4a"/>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:url" content="https://calummm.com" />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <meta property="og:logo" content="/android-chrome-512x512.png" />
    <meta property="twitter:image" content="/android-chrome-512x512.png" />
    <script eleventy:ignore>{% include "pre.js" %}</script>
    <script>{% include "theme.js" %}</script>
    <style>/* This is an arbitrary CSS string added to the bundle */</style>
  <style>
    {% include "css/index.css" %}</style>
  <style>
    {% getBundle "css" %}</style>
  {#- Add the heading-anchors web component to the JavaScript bundle #}
  {# <script type="module">
        {% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script> #}
</head>
<body>
  <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
  <div class="content">
    <header>
      <div id="home-link">
        <a href="/">{{ metadata.title }}</a>
      </div>
      <div id="quick-panel">
        <a class="coffee-link" href="https://www.buymeacoffee.com/calummm" alt="Buy Me A Coffee" title="Buy Me A Coffee">{% svgIcon 'coffee.svg', 28, 28 %}</a>
        
        <div id="prefers-dark">
        <label id="theme" for="alt-theme" tabindex="0">
          <span id="theme-light">{% svgIcon 'sun-icon.svg', 32, 32 %}</span>
          <span id="theme-dark">{% svgIcon 'moon-icon.svg', 32, 32 %}</span>
        </label>
        <input id="alt-theme" type="checkbox"/>
        </div>

        

      </div>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item">
              <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
    <main id="main">
      {{ content | safe }}
    </main>
  </div>
  <footer>
    <p>
      I am Calum. I enjoy nerdy things but also human topics such as teaching and writing. I am definitely a human.
    </p>
    <div class="footer-meta">
      <a href="https://www.buymeacoffee.com/calummm" target="_blank"><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          alt="Buy Me A Coffee"
          style="height: 60px !important;width: 217px !important;">
      </a>
      <em class="built-with">Built with
        <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
      </em>
    </div>
  </footer>
  <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
  <script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body></html>